torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0
numpy<2.0.0,>=1.21.6
diffusers>=0.24.0
huggingface_hub>=0.14.1
peft>=0.4.0
xformers>=0.0.20
kornia>=0.7.0
onnxruntime-gpu>=1.16.0
opencv-python>=4.9.0
pillow>=9.5.0
